
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

